:root {
  --primary-color: #538fca;
  --light: #b5d8fa;
  --lightest: #e3f2fd;
  --dark: #2c5d8a;
  --darkest: #1a3b5c;

  --warning: #a66d0b;
  --warning-light: #f0ad4e;
  --warning-dark: #8a4d0c;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.page-content {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  margin-top: 75px;
}

.no-books {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: relative;
  max-width: 70em;
  margin: 1em auto;
  padding: 1.5em;
  font-size: 1.2em;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.background-image::before {
  position: absolute;
  content: '';
  inset: 0;
  background: #fed;
  border: 2.25px dotted var(--primary-color);
  border-radius: 20px 4px 30px 8px;
  z-index: -1;
  box-shadow: 5px 5px 5px #0009;
  background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
  background-size: 100px;
}


.btn-outline-custom {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}

.btn-outline-custom:hover {
  color: var(--light);
  background-color: var(--primary-color);
  box-shadow: inset 2px 2px 2px var(--light)
}

.btn-outline-custom:active {
  color: var(--light) !important;
  background-color: var(--primary-color) !important;
  box-shadow: inset 2px 2px 2px var(--dark)  !important;
}

.btn-custom {
  color: var(--dark);
  border-color: var(--dark);
  background-color: transparent;
}

.btn-custom:hover {
  color: var(--light);
  background-color: var(--dark);
  box-shadow: inset 2px 2px 2px var(--light);
}

.btn-custom:active {
  color: var(--light) !important;
  background-color: var(--dark) !important;
  box-shadow: inset 2px 2px 2px var(--darkest) !important;
  border-color: var(--darkest) !important;
}

.menu-button {
  background-color: transparent !important;
  border: solid 1.5px var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
}

.menu-button:active {
  border: solid 1.5px var(--primary-color);
  background-color: var(--light) !important;
  box-shadow: inset 2px 2px 2px var(--dark) !important;
}

.navbar-toggler-icon {
  stroke: var(--primary-color) !important;
}

.offcanvas-title {
  color: var(--primary-color);
}

.delete-btn {
  color: var(--warning);
  border-color: var(--warning);
  background-color: transparent;
  margin-left: 10px;
}

.delete-btn:hover {
  color: var(--warning-light);
  background-color: var(--warning);
  box-shadow: inset 2px 2px 2px var(--warning-light);
}

.delete-btn:active {
  color: var(--warning-light) !important;
  background-color: var(--warning) !important;
  box-shadow: inset 2px 2px 2px var(--warning-dark) !important;
  border-color: var(--warning-dark) !important;
}

#go-back-btn {
  position: absolute;
  right: 25px;
  height: 30px;
  padding: 2px;
  color: var(--warning);
  border-color: var(--warning); 
}

#go-back-btn:hover {
  color: var(--warning-light);
  background-color: var(--warning);
  box-shadow: inset 2px 2px 2px var(--warning-light);
}

#go-back-btn:active {
  color: var(--warning-light);
  background-color: var(--warning);
  box-shadow: inset 2px 2px 2px var(--warning-dark);
}

#booknote {
  display: flex;
  justify-content: space-around;
  min-height: 350px;
  padding: 20px 0;
}

.booknote-big {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.booknote-add {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.book-cover img {
  max-height: 400px;
}

.book-info {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.book-review {
  max-width: 750px;
  min-width: 650px;
  max-height: 125px;
  overflow-y: hidden;
}

.sorting-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 400px 10px 0;
  gap: 25px;
}

#view-more-btn {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px 25px 30px 0;
}

.left-column {
  width: 100;
  margin-right: 25px;
}

.right-column {
  margin-top: 35px;
}

.bookinfo-big {
  margin-top: 25px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px;
}

#changeBook {
  display: inline-block;
  width: 100%;
}

#changeBook label {
  position: fixed;
}

#changeBook input, textarea {
  margin-left: 150px;
}

.inputTitle {
  width: 50%;
  margin-top: 75px;
  margin-left: 110px;
}

input[type="text"].inputTitle.saved  {
  background-color: transparent;
  border: none;
}

#searchBookBtn {
  margin-left: 15%;
}

.inputReview {
  width: 75%;
  max-height: 400px;
}

.inputDate {
  width: 15%;
  margin-left: 150px;
}

.inputRating {
  width: 15%;
  margin-left: 150px;
}

#save-btn,
#break-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
}

#break-btn {
  margin-right: 120px;
}

#book-options {
  height: 100%;
  position: fixed;
  right: 0;
  padding-top: 50px;
  background-color: var(--lightest) !important;
  z-index: 1;
}

#book-options a {
  border-bottom: solid 0.05px var(--primary-color) !important;
}

#options {
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: var(--primary-color) var(--lightest);
}

.option {
  background-color: var(--lightest) !important;
  border-bottom: solid 0.05px var(--primary-color) !important;
  margin: 0;
}

.option:hover {
  background-color: var(--light) !important;
  box-shadow: inset;
}

small img {
  height: 50%;
  width: auto;
  margin-left: 5px;
}

.author-name,
.book-title {
  text-align: right;
}

.author-name {
  margin-top: 15px;
}

#cancel-btn {
  position: inherit;
  margin: 10px;
}

#choose-book-btn {
  position: inherit;
  right: 0;
  margin: 15px;
}

#no-books-found {
  margin: 50px 10px;
  text-align: left;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  padding-right: 30px;
}